<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getName()}">Book</title>
</head>
<body th:align="middle">
<p th:text="${book.getName()}">VALUE</p>
<p th:text="${book.getAuthor()}">VALUE</p>
<p th:text="${book.getYear()}">VALUE</p>
<a th:href="@{{id}/edit(id=${book.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<!--<div th:each="user : ${users}">-->
<!--    <a th:href="@{users/{id}(id=${user.getId()})}" th:text= "${user.getFullName()} + ${user.getYearOfBirth()}">VALUE</a>-->
<!--</div>-->

</body>
</html>